//@import "{}/node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  background-color: #f5f7fa;
}

.warning-background {
  background-color: #F1C40F;
}

table tbody {
  tr.selected {
    background-color: #337ab7 !important;
  }
  .selected td {
    color: #FFFFFF;
  }
}

.panel .panel-body h4 {
  margin-bottom: 20px;
}

.button-generate {
  text-align: center;
  margin-bottom: 50px;
  button {
    width: 300px;
  }
}

.input-file-container {
  margin-bottom: 25px;
}